*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color:#E0C097;
    position: relative;
}
.child-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.child-container p{
    font-size: 5rem;
    margin: 0 0 40px 0;
    color: #2D2424;
}

.start-btn{
    border: none;
    padding:10px 40px;
    margin: 0 45px;
    border-radius: 40px;
    font-size: 1rem;
    background-color: #B85C38;
    color: #F7F7F7; 
    text-transform: lowercase;
}
.start-btn:active{
    background-color: #5C3D2E;
}
.stop-btn{
    border: none;
    padding:10px 40px;
    border-radius: 40px;
    font-size: 1rem;
    background-color: #B85C38;
    color: #F7F7F7;
    text-transform: lowercase;
}
.stop-btn:active{
    background-color: #5C3D2E;
}
.reset-btn{
    border: none;
    padding:10px 40px;
    margin: 0 45px;
    border-radius: 40px;
    font-size: 1rem;
    background-color: #B85C38;
    color: #F7F7F7;
    text-transform: lowercase;  
}
.reset-btn:active{
    background-color: #5C3D2E;
}